---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

export const getStaticPaths = (async ({ paginate }) => {
	const posts = (await getCollection('posts'))
		.filter((post) => !post.data.draft)
		.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

	return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout title="Last Question" description="Home Page">
	<ul>
		{
			page.data.map((post) => (
				<li>
					<a href={`/posts/${post.id}/`}>{post.data.title}</a>
					<p>
						<time datetime={post.data.pubDate.toISOString()}>
							{post.data.pubDate.toLocaleDateString('en-GB', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}
						</time>
					</p>
					<p>{post.data.description}</p>
				</li>
			))
		}
	</ul>

	<nav aria-label="Pagination">
		{
			page.url.prev && (
				<a href={page.url.prev} aria-label="Newer posts">
					← Newer posts
				</a>
			)
		}
		{
			page.total > page.size && (
				<span>
					page {page.currentPage} of {page.lastPage}
				</span>
			)
		}
		{
			page.url.next && (
				<a href={page.url.next} aria-label="Older posts">
					Older posts →
				</a>
			)
		}
	</nav>
</BaseLayout>
